In [1]:
# import pandas library 
import pandas as pd 

column_names = ['user_id', 'item_id', 'rating', 'timestamp'] 

path = 'file.tsv'

df = pd.read_csv(path, sep='\t', names=column_names) 

# list first 5 data
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742